/*****************************************************************************
* Label
*****************************************************************************/

.label{
	 -fx-font-size: 18;
	 -fx-color: #d7d7d7;
	 -fx-text-fill: #828282;
}
/*****************************************************************************
* textField
*****************************************************************************/
.text-field {
   	-fx-font-size: 20px;
	-fx-base: #F7F7F7;
	-fx-background: #F7F7F7;
/* 	-fx-focus-color: #d7d7d7; */
	-fx-background-insets: 1px;
	-fx-background-radius: 0px;
/* 	-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; 2 10 3 10 */
/* 	-fx-content-display: LEFT; */
	-fx-background-insets: -1, 0, 0, 0;
/* 	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.2) , 13, 0.0 , 0 , 1 ); */
}

.text-field:focused{
}

/*****************************************************************************
* combocCheckBox
*****************************************************************************/
.combo-box {
	-fx-font-size: 15.0px;
	-fx-base: #F7F7F7;
	-fx-background: #e5f3f6;
	-fx-focus-color: #d4d4d4;
	-fx-control-inner-background: #F7F7F7;
	-fx-text-base-color: #828282;
	-fx-background-color:#F7F7F7;
	-fx-inner-border: linear-gradient(to bottom, derive(-fx-color,73.6%) 0%, derive(-fx-color,29.200000000000003%) 100%);
	-fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
	-fx-background-insets: 0px;
	-fx-background-radius: 0px;
	-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
	-fx-text-fill: -fx-text-base-color;
	-fx-alignment: CENTER;
	-fx-content-display: LEFT;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 3, 0.0 , 0 , 1 );
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
/* 	-fx-font-weight: bold; */
}

.combo-box:focused {
	-fx-color:#F7F7F7;
	-fx-background-color:#F7F7F7, #F7F7F7;
	-fx-background-insets: -1.4, 0, 1, 2;
	-fx-background-radius: 0;
	
	-fx-inner-border: linear-gradient(to bottom, derive(-fx-color,73.6%) 0%, derive(-fx-color,29.200000000000003%) 100%);
	-fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
}

.combo-box:hover {
	-fx-focus-color: #FF0000;
	-fx-background-color: #F7F7F7, #e6e7e8;
}


/*****************************************************************************
* progressIndicator
*****************************************************************************/

.progress-indicator-blue {
    -fx-progress-color: #0091EA;
    -fx-font-size: 100px;
    -fx-font-weight: bold;
}

.progress-indicator-orange {
    -fx-progress-color: #E65100;
    -fx-font-size: 100px;
    -fx-font-weight: bold;
}

/*****************************************************************************
* progressIndicator
*****************************************************************************/
.border{
	-fx-background-color: #FFFFFF;
	-fx-border-color: #d7d7d7;
/* 	-fx-border-insets: 5; */
	-fx-border-width: 1;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.2) , 13, 0.0 , 0 , 3 );
/* 	-fx-border-style: dashed; */
}

/*****************************************************************************
* textField custom
*****************************************************************************/
.clearable-field .clear-button > .graphic {
    -fx-scale-shape: false;
    -fx-shape: "";
    -fx-background-size: auto;
    -fx-background-color: none!important;
    -fx-padding: 0.0 15.5 0.0 15.0 !important;
    -fx-background-position: center; 
    -fx-background-image: url("../imagem/erase.png");
    -fx-background-repeat: no-repeat;
    -fx-cursor: hand;
    -fx-width:100%;
    -fx-height: auto;
}
.custom-text-field:text-field-has-focus {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color: 
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 0, 0, 0, 0 !important;
    -fx-prompt-text-fill: transparent;
}

.textField-img {
  -fx-background-image:url('../imagem/barcode.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: left center;
  -fx-padding: 7 0 7 45;
}

.textField-img-descricao {
  -fx-background-image:url('../imagem/text.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: left center;
   -fx-padding: 7 0 7 45;
}
.textField-img-picture {
  -fx-background-image:url('../imagem/picture.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: left center;
   -fx-padding: 7 0 7 45;
}

.positivo{
	-fx-text-fill: green;
}

.igual{
	-fx-text-fill: black;
}

.negativo{
	-fx-text-fill: red;
}